* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.logo-container {
    margin-bottom: 20px;
    animation: fadeIn 1s ease-in-out;
}

.logo-container img {
    width: 150px; 
    height: auto; 
}

h1 {
    color: white;
    text-align: center;
    margin-top: 20px;
    font-size: 28px; 
    animation: fadeIn 2s ease-in-out;
}

p {
    color: white;
    font-size: 16px; 
}

.container {
    background-color: #222;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    width: 80%; 
    max-width: 400px; 
    margin: 0 auto; 
    animation: fadeIn 1.5s ease-in-out;
}

label, select, input, button {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    font-size: 16px; 
}

label {
    color: white;
    text-align: left;
}

select, input {
    max-width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: white;
    box-sizing: border-box;
}

input::placeholder {
    color: #bbb;
}

button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: white;
    color: black;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

button:hover {
    background-color: rgb(145, 145, 145);
    transform: scale(1.05);
}

#result {
    opacity: 1;
    transition: opacity 1s, transform 1s;
}

.show-result {
    opacity: 1;
    transform: scale(1.1);
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 768px) {
    .container {
        width: 90%; 
    }
    h1 {
        font-size: 24px;
    }
    .logo-container img {
        width: 100px; 
    }
    label, select, input, button {
        font-size: 14px;
    }
    .container {
        padding: 15px;
    }
}
